@import url(minireset.css);
html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%;
  margin: 0; }

#root {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center; }

.App {
  font-family: HelveticaNeue-Thin, sans-serif;
  font-weight: 200;
  color: #343434;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 414px;
  background-color: red; }
  .App button {
    font-size: 2rem;
    color: #F8F8F8;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .App button > span {
      padding: 1rem; }
  .App .button {
    font-size: 2rem;
    color: #F8F8F8; }
    .App .button.square {
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      text-align: center;
      text-transform: uppercase;
      background: transparent;
      color: #EE3224;
      border: 0.2rem solid #EE3224; }
    .App .button.disabled {
      border-color: transparent;
      opacity: 0.8; }
  .App.background {
    background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/background-blur.png) no-repeat center;
    background-size: 100% 100%; }
  .App .title {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    word-break: break-word;
    text-align: center;
    text-transform: uppercase; }
  .App .subtitle {
    font-size: 2rem;
    margin-bottom: 0.2em;
    text-align: center; }
  .App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    z-index: 1; }
  .App .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    padding: 0.5rem;
    opacity: 0; }
    .App .buttons a, .App .buttons button {
      margin: 0 auto;
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .App .buttons a + button, .App .buttons button + button {
      margin-left: 20px; }
    .App .buttons button {
      min-height: 50px;
      border-style: none; }
      .App .buttons button.take-picture {
        background: url(https://s3-eu-west-1.amazonaws.com/pmi-rekognition-pictures/s/greetings-shared/btn_camera.svg) no-repeat center; }
      .App .buttons button.cancel {
        background: url(https://s3-eu-west-1.amazonaws.com/pmi-rekognition-pictures/s/greetings-shared/btn_cancel.svg) no-repeat center; }
      .App .buttons button.accept {
        background: url(https://s3-eu-west-1.amazonaws.com/pmi-rekognition-pictures/s/greetings-shared/btn_check.svg) no-repeat center; }
  .App .logo-container {
    height: 8rem;
    width: 60%;
    margin-bottom: 1rem; }
    .App .logo-container .logo {
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/veriswiss_logo.svg) no-repeat center;
      height: 100%; }
  .App .client-container {
    justify-content: flex-start;
    background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/background-clear.png) no-repeat center;
    background-size: 100% 100%;
    animation-duration: 2s;
    animation-fill-mode: forwards; }
    .App .client-container.blurIn {
      animation-name: blur-in-screen; }

@keyframes blur-in-screen {
  100% {
    filter: blur(10px) brightness(150%); } }
    .App .client-container.blurOut {
      animation-name: blur-out-screen; }

@keyframes blur-out-screen {
  0% {
    filter: blur(10px) brightness(150%); }
  100% {
    filter: blur(0px) brightness(100%); } }
    .App .client-container .white-screen {
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      animation-duration: 2s;
      animation-fill-mode: forwards; }
      .App .client-container .white-screen.blurIn {
        animation-name: to-white; }

@keyframes to-white {
  0% {
    background-color: #FFFFFF00; }
  100% {
    background-color: rgba(155, 155, 155, 0.8); } }
      .App .client-container .white-screen.blurOut {
        animation-name: to-transparent; }

@keyframes to-transparent {
  0% {
    background-color: rgba(155, 155, 155, 0.8); }
  100% {
    background-color: #FFFFFF00; } }
    .App .client-container .client-logo {
      margin-top: 1rem;
      width: 80%;
      height: 20rem;
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/client-logo.png) no-repeat center;
      background-size: contain; }
    .App .client-container .lorem-text {
      font-size: large;
      margin-top: 4rem;
      font-weight: bold;
      width: 80%;
      color: #F8F8F8;
      text-align: center; }
  .App .landing-container {
    justify-content: center; }
    .App .landing-container .verify-age {
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      font-size: large; }
    .App .landing-container .learn-more {
      font-size: large;
      margin-top: 4rem;
      width: 100%;
      text-align: center; }
    .App .landing-container .info-button {
      margin-top: 1rem;
      width: 4rem;
      height: 4rem;
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/info.svg) no-repeat center; }
  .App .info-container {
    justify-content: center;
    /* Darker background on mouse-over */ }
    .App .info-container .back-button {
      position: fixed;
      align-self: flex-start;
      justify-self: flex-start;
      align-content: flex-start;
      top: 1rem;
      left: 1rem;
      color: #EE3224;
      font-size: large;
      text-transform: uppercase; }
    .App .info-container .back-button:hover {
      left: 1.2rem; }
    .App .info-container .logo-container {
      width: 40%; }
    .App .info-container .protect-info {
      font-size: x-large;
      margin-bottom: 4rem;
      text-align: center;
      font-weight: 400; }
    .App .info-container .rows-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 90%; }
      .App .info-container .rows-container .row {
        display: flex;
        flex-direction: row;
        align-items: top;
        margin-bottom: 1rem;
        padding-bottom: 4px;
        width: 100%; }
        .App .info-container .rows-container .row .info-icon-container {
          width: 20%;
          padding-top: 3px; }
          .App .info-container .rows-container .row .info-icon-container .info-icon {
            width: 100%;
            height: 3rem; }
            .App .info-container .rows-container .row .info-icon-container .info-icon.info-no-picture {
              background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/no_picture.svg) no-repeat center; }
            .App .info-container .rows-container .row .info-icon-container .info-icon.info-no-id {
              background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/no_id.svg) no-repeat center; }
            .App .info-container .rows-container .row .info-icon-container .info-icon.info-no-share {
              background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/no_share.svg) no-repeat center; }
        .App .info-container .rows-container .row .info-text-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 1rem;
          font-size: large; }
          .App .info-container .rows-container .row .info-text-container .info-text-title {
            font-family: HelveticaNeue, sans-serif; }
          .App .info-container .rows-container .row .info-text-container .info-text-subtitle {
            font-size: initial; }
  .App .lock-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 8rem;
    width: 5rem;
    background-size: cover; }
    .App .lock-container .lock-top-part {
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/lock-top-part.svg) no-repeat bottom;
      height: 4rem;
      width: 80%;
      margin-bottom: -1.0rem; }
      .App .lock-container .lock-top-part.unlock {
        animation-name: unlock;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; }

@keyframes unlock {
  0% {
    margin-bottom: -1.0rem;
    transform-origin: 90% 0;
    transform: rotateY(0); }
  50% {
    margin-bottom: -0.1rem;
    transform-origin: 90% 0;
    transform: rotateY(0); }
  100% {
    margin-bottom: -0.1rem;
    transform-origin: 90% 0;
    transform: rotateY(180deg); } }
    .App .lock-container .lock-bottom-part {
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/lock-bottom-part.svg) no-repeat top;
      width: 100%;
      height: 4rem; }
    .App .lock-container.shake {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      animation-iteration-count: 2;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
  .App .selfie-container .logo-container {
    height: 6rem;
    width: 40%;
    margin-bottom: 1rem; }
  .App .selfie-container .look-camera {
    font-size: x-large;
    margin-top: 1rem;
    width: 100%;
    text-align: center; }
  .App .selfie-container .camera-container {
    justify-content: start;
    padding-left: 0.3rem;
    padding-right: 0.3rem; }
    .App .selfie-container .camera-container .picture-frame {
      max-width: 306px;
      max-height: 62vh;
      margin: 0 auto 1rem;
      overflow: hidden;
      position: relative; }
    .App .selfie-container .camera-container .round-border {
      border-radius: 50%;
      border: 0.3rem solid cornflowerblue; }
    .App .selfie-container .camera-container .video-capture {
      width: 75vw;
      height: 75vw;
      max-width: 306px;
      max-height: 306px;
      object-fit: cover;
      transform: scaleX(-1); }
    .App .selfie-container .camera-container .selfie {
      transform: scaleX(-1); }
  .App .id-camera-container .logo-container {
    height: 6rem;
    width: 40%;
    margin-bottom: 1rem; }
  .App .id-camera-container .look-camera {
    font-size: x-large;
    margin-top: 1rem;
    width: 100%;
    text-align: center; }
  .App .id-camera-container .camera-container {
    justify-content: start;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    width: 80%; }
    .App .id-camera-container .camera-container .picture-frame {
      max-width: 306px;
      max-height: 62vh;
      margin: 0 auto 1rem;
      overflow: hidden;
      position: relative; }
    .App .id-camera-container .camera-container .round-border {
      border-radius: 5%;
      border: 0.3rem solid cornflowerblue; }
    .App .id-camera-container .camera-container .video-capture {
      width: 75vw;
      height: 75vw;
      max-width: 306px;
      max-height: 306px;
      object-fit: cover;
      transform: scaleX(-1); }
    .App .id-camera-container .camera-container .sending {
      background-color: rgba(248, 248, 248, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .App .id-camera-container .camera-container .sending p {
        color: #343434;
        top: 50%;
        left: 50%;
        position: relative;
        float: left;
        transform: translate(-50%, -50%); }
    .App .id-camera-container .camera-container .loader {
      width: 20vw;
      height: 20vw;
      max-width: 50px;
      max-height: 50px;
      border: 5px solid rgba(248, 248, 248, 0.5);
      border-top-color: #343434;
      border-radius: 100%;
      position: relative;
      left: 50%;
      top: 50%;
      animation: round 1s ease-in-out infinite; }

@keyframes round {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
