@import "minireset.css";

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.App {

  // Colors
  $white: #F8F8F8;
  $black: #343434;
  $red: #EE3224;
  $primary-color: $black;

  // Sizes
  $camera-size: 75vw;
  $camera-max-size: 306px;
  $title-size: 3rem;
  $subtitle-size: 2rem;
  // Fonts
  font-family: HelveticaNeue-Thin, sans-serif;
  font-weight: 200;
  color: $primary-color;

  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 414px;
  background-color: red;

  button {
    font-size: 2rem;
    color: $white;
    background-color: transparent;
    border: none;
    cursor: pointer;

    > span {
      padding: 1rem;
    }
  }

  .button {
    font-size: 2rem;
    color: $white;

    &.square {
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      text-align: center;
      text-transform: uppercase;
      background: transparent;
      color: $red;
      border: 0.2rem solid $red;
    }

    &.disabled {
      border-color: transparent;
      opacity: 0.8;
    }
  }

  &.background {
    background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/background-blur.png) no-repeat center;
    background-size: 100% 100%;
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: $title-size;
    word-break: break-word;
    text-align: center;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: $subtitle-size;
    margin-bottom: 0.2em;
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    z-index: 1;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    padding: 0.5rem;
    opacity: 0;

    a, button {
      margin: 0 auto;
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a + button, button + button {
      margin-left: 20px;
    }

    button {
      min-height: 50px;
      border-style: none;

      &.take-picture {
        background: url(https://s3-eu-west-1.amazonaws.com/pmi-rekognition-pictures/s/greetings-shared/btn_camera.svg) no-repeat center;
      }

      &.cancel {
        background: url(https://s3-eu-west-1.amazonaws.com/pmi-rekognition-pictures/s/greetings-shared/btn_cancel.svg) no-repeat center;
      }

      &.accept {
        background: url(https://s3-eu-west-1.amazonaws.com/pmi-rekognition-pictures/s/greetings-shared/btn_check.svg) no-repeat center;
      }
    }
  }

  .logo-container {
    height: 8rem;
    width: 60%;
    margin-bottom: 1rem;

    .logo {
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/veriswiss_logo.svg) no-repeat center;
      height: 100%;
    }
  }

  .client-container {
    justify-content: flex-start;
    background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/background-clear.png) no-repeat center;
    background-size: 100% 100%;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    &.blurIn {
      animation-name: blur-in-screen;

      @keyframes blur-in-screen {
        100% {
          filter: blur(10px) brightness(150%);
        }
      }
    }

    &.blurOut {
      animation-name: blur-out-screen;

      @keyframes blur-out-screen {
        0% {
          filter: blur(10px) brightness(150%);
        }
        100% {
          filter: blur(0px) brightness(100%);
        }
      }
    }

    .white-screen {
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      animation-duration: 2s;
      animation-fill-mode: forwards;

      &.blurIn {
        animation-name: to-white;
        @keyframes to-white {
          0% {
            background-color: #FFFFFF00;
          }
          100% {
            background-color: rgba(155, 155, 155, 0.8);
          }
        }
      }

      &.blurOut {
        animation-name: to-transparent;
        @keyframes to-transparent {
          0% {
            background-color: rgba(155, 155, 155, 0.8);
          }
          100% {
            background-color: #FFFFFF00;
          }
        }
      }

    }

    .client-logo {
      margin-top: 1rem;
      width: 80%;
      height: 20rem;
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/client-logo.png) no-repeat center;
      background-size: contain;
    }

    .lorem-text {
      font-size: large;
      margin-top: 4rem;
      font-weight: bold;
      width: 80%;
      color: $white;
      text-align: center;
    }

  }

  .landing-container {
    justify-content: center;

    .verify-age {
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      font-size: large;
    }

    .learn-more {
      font-size: large;
      margin-top: 4rem;
      width: 100%;
      text-align: center;
    }

    .info-button {
      margin-top: 1rem;
      width: 4rem;
      height: 4rem;
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/info.svg) no-repeat center;
    }

  }

  .info-container {
    justify-content: center;

    .back-button {
      position: fixed;
      align-self: flex-start;
      justify-self: flex-start;
      align-content: flex-start;
      top: 1rem;
      left: 1rem;
      color: $red;
      font-size: large;
      text-transform: uppercase;
    }

    /* Darker background on mouse-over */
    .back-button:hover {
      left: 1.2rem;
    }

    .logo-container {
      width: 40%;
    }

    .protect-info {
      font-size: x-large;
      margin-bottom: 4rem;
      text-align: center;
      font-weight: 400;
    }

    .rows-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 90%;

      .row {
        display: flex;
        flex-direction: row;
        align-items: top;
        margin-bottom: 1rem;
        padding-bottom: 4px;
        width: 100%;


        .info-icon-container {
          width: 20%;
          padding-top: 3px;

          .info-icon {
            width: 100%;
            height: 3rem;

            &.info-no-picture {
              background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/no_picture.svg) no-repeat center;
            }

            &.info-no-id {
              background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/no_id.svg) no-repeat center;
            }

            &.info-no-share {
              background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/no_share.svg) no-repeat center;
            }
          }
        }

        .info-text-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 1rem;
          font-size: large;

          .info-text-title {
            font-family: HelveticaNeue, sans-serif;
          }

          .info-text-subtitle {
            font-size: initial;
          }

        }

      }
    }

  }

  .lock-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 8rem;
    width: 5rem;
    background-size: cover;

    .lock-top-part {
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/lock-top-part.svg) no-repeat bottom;
      height: 4rem;
      width: 80%;
      margin-bottom: -1.0rem;

      &.unlock {
        animation-name: unlock;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }

      @keyframes unlock {
        0% {
          margin-bottom: -1.0rem;
          transform-origin: 90% 0;
          transform: rotateY(0);
        }
        50% {
          margin-bottom: -0.1rem;
          transform-origin: 90% 0;
          transform: rotateY(0);
        }
        100% {
          margin-bottom: -0.1rem;
          transform-origin: 90% 0;
          transform: rotateY(180deg);
        }
      }

    }

    .lock-bottom-part {
      background: url(https://s3-eu-west-1.amazonaws.com/veriswiss/s/lock-bottom-part.svg) no-repeat top;
      width: 100%;
      height: 4rem;
    }

    &.shake {
      animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
      animation-iteration-count: 2;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;

      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }

  }

  .selfie-container {

    .logo-container {
      height: 6rem;
      width: 40%;
      margin-bottom: 1rem;
    }

    .look-camera {
      font-size: x-large;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
    }

    .camera-container {
      justify-content: start;
      padding-left: 0.3rem;
      padding-right: 0.3rem;

      .picture-frame {
        max-width: $camera-max-size;
        max-height: 62vh;
        margin: 0 auto 1rem;
        overflow: hidden;
        position: relative;
      }

      .round-border {
        border-radius: 50%;
        border: 0.3rem solid cornflowerblue;
      }

      .video-capture {
        width: $camera-size;
        height: $camera-size;
        max-width: $camera-max-size;
        max-height: $camera-max-size;
        object-fit: cover;
        transform: scaleX(-1);
      }

      .selfie {
        transform: scaleX(-1);
      }
    }
  }

  .id-camera-container {
    .logo-container {
      height: 6rem;
      width: 40%;
      margin-bottom: 1rem;
    }

    .look-camera {
      font-size: x-large;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
    }

    .camera-container {
      justify-content: start;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      width: 80%;

      .picture-frame {
        max-width: $camera-max-size;
        max-height: 62vh;
        margin: 0 auto 1rem;
        overflow: hidden;
        position: relative;
      }

      .round-border {
        border-radius: 5%;
        border: 0.3rem solid cornflowerblue;
      }

      .video-capture {
        width: $camera-size;
        height: $camera-size;
        max-width: $camera-max-size;
        max-height: $camera-max-size;
        object-fit: cover;
        transform: scaleX(-1);
      }

      .sending {
        background-color: rgba($white, 0.8);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        p {
          color: $primary-color;
          top: 50%;
          left: 50%;
          position: relative;
          float: left;
          transform: translate(-50%, -50%);
        }

      }

      .loader {
        width: 20vw;
        height: 20vw;
        max-width: 50px;
        max-height: 50px;
        border: 5px solid rgba($white, 0.5);
        border-top-color: $primary-color;
        border-radius: 100%;
        position: relative;
        left: 50%;
        top: 50%;
        animation: round 1s ease-in-out infinite;
      }

      @keyframes round {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
    }

  }
}